.offcanvas.offcanvas-start.show {
  width: 272px;
}

.sticky-xl-top {
  top: 25% !important;
}

.menu__item__left__name:hover {
  color: var(--color-1) !important;
}

.menu__item__left__name.active {
  color: var(--color-1) !important;
}

.type-laguague.active {
  color: var(--color-1) !important;
}
