.under-line:after {
  background-color: var(--color-1);
  content: " ";
  height: 3px;
  left: 0;
  position: absolute;
  width: 100px;
  bottom: -10px;
}

.between-line:after {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.form-control {
  background-color: var(--color-5) !important;
}

.input-group-text {
  background-color: var(--color-5) !important;
}
